/* - - - - - - - - - - CONTENEDOR GENERAL - - - - - - - - - - */
.form
{
    width: 80%;
    height: clamp(507px,80vh,621px);
    margin: 6.5vh auto;
    display: flex;
}

/* - - - - - - - - - - CONTENEDOR IZQUIERDO - - - - - - - - - - */
/* Contenedor general izquierdo*/
.formIz
{
    width: 37%;
    height: 100%;
    border-radius: 3rem 0 0 3rem;
    padding: 7% 1rem;
    background-image: url("../Multimedia/Imagenes/treeSilhouette.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.formIz::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5c7f6b94;
    border-radius: 3rem 0 0 3rem;
}

.formIz h2, .formIz p
{
    display: block;
    color: #fff;
    text-align: center;
    position: inherit;
}

.formIz h2
{
    margin: 0;
    font-family: "Kaisei Decol", serif;
    font-weight: 700;
    font-size: clamp(1rem,2.3vw,2.5rem);
    text-shadow: 3px 3px 2px #000;
}

.formIz p
{
    font-size: clamp(1rem,1.35vw,1.5rem);
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
    margin-top: 1rem;
}

.formIz a
{
    margin: auto;
    padding: 0.8rem;
    display: block;
    width: 15vw;
    max-width: 15rem;
    height: fit-content;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: #5b8870;
    background-color: #e9f5f2;
    border: 0.3rem solid #5b8870;
    border-radius: 13px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.formIz a:hover
{
    background-color: #5b8870;
    color: #e9f5f2;
    border: 0.3rem solid #e9f5f2;
    /*transform: scale(1.05);*/
}

/* - - - - - - - - - - CONTENEDOR DERECHO - - - - - - - - - - */

/* Contenedor general derecho*/
.formDer
{
    width: 63%;
    height: 100%;
    padding: clamp(1rem,2.3vw,3rem);
    border-radius: 0 3rem 3rem 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.formDer h2
{
    font-family: "Kaisei Decol", serif;
    font-weight: bold;
    font-size: clamp(1rem,2.5vw,2.5rem);
    text-align: center;
    color: #5b8870;
    margin: 0;
}
/* Div de campos doble y derivados (inputs y labels) */
.campos
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
}

.campos label, .textArea label
{
    font-size: clamp(1rem,1.7vw,1.5rem);
    font-weight: 500;
    color: #5b8870;
    cursor: pointer;
}

.campos input
{
    width: 100%;
    padding: clamp(7px,0.7vw,0.7rem);;
    margin-top: 1vh;
    font-size: clamp(1rem,1.5vw,1.2rem);
    color: #5b8870;
    border: 0.2rem solid #a4c3b2;
    border-radius: 0.8rem;
    outline: none;
    transition: border 0.2s ease-in-out;
}

.campos input::placeholder, .textArea textarea::placeholder
{
    font-size: clamp(1rem,1.5vw,1.2rem);
    font-weight: 300;
    color: #a4c3b2;
}

.campos input:focus, .textArea textarea:focus
{
    border-color: #5b8870;
}

.campos div:first-child input
{
    border-radius: 0.6vw 0 0 0.6vw;
    border-right: 1.6px solid #5b8870;
}

.campos div:last-child input
{
    border-radius: 0 0.6vw 0.6vw 0;
    border-left: 1.6px solid #5b8870;
}
/* Area Checkbox */
.check
{
    display: flex;
    align-items: center;
    margin: clamp(1rem,1vh,2rem) auto;
    font-weight: 250;
}

.check input[type="checkbox"]
{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.check label
{
    font-size: clamp(0.5rem,1.1vw,1.5rem);
    cursor: pointer;
}

.check a
{
    font-size: 1.1rem;
    font-weight: 500;
    color: #5b8870;
    text-decoration: none;
}
/* Boton de subir */
.btnAccount
{
    display: block;
    width: 13vw;
    padding: 0.8rem;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 500;
    color: #5b8870;
    background-color: #fff;
    border: 0.3rem solid #a4c3b2;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btnAccount:hover
{
    background-color: #a4c3b2;
    color: #fff;
    border-color: #5b8870;
}

/* TextArea de contactos */
.textArea textarea
{
    display: block;
}

.textArea textarea
{
    margin: 1rem 0;
    width: 100%;
    height: 25vh;
    outline: none;
    border-radius: 0.7vw;
    border: 0.2rem solid rgba(255, 143, 52, 0.5);
    resize: none;
    padding: 1rem;
    font-size: clamp(1rem,1.1vw,1.2rem);
    color: #ff8f34;
    transition: border 0.2s ease-in-out;
}


/* Clase especial del pie de página (BlackWater) */
.black
{
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #4b4945;
    align-items: center;
    justify-content: center;
}

.black img
{
    width: 11rem;
    opacity: 70%;
    margin-left: 10px;
}